body {
    font-family: Arial, sans-serif;
}

div {
    width: 50%;
    margin: 40px auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

th, td {
    border: 1px solid;
    text-align: center;
}

